* {
	box-sizing: border-box;
}
body {
	background-image: url("http://4.bp.blogspot.com/-hiYZzjGUjAU/UW-LPXMlVQI/AAAAAAAABaY/2SkmDvDz8E4/s1600/Cartoon%2BBeach%2BWallpaper-737352.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	align-content: center;
	font-family: 'Rock Salt', cursive;
	width: 100%;
}

header {
	margin: 10px;
	padding: 20px;
	
}

h1 {
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	color: black;
}


.previous {
	text-align: center;
	padding: 5px;
}

.main_content {
	text-align: center;
	background: #FFE04A;
	margin: auto;
	width: 400px;
	padding: 5px;
	color: #ffffff;
	font-size: 30px;
	margin-bottom: 30px;
	opacity: .9;
	border: solid 10px white;

}

.box1{
	margin: auto;
	padding: 10px;
	display: inline-block;
	position: relative;
}

img {
	margin-top: 10px;
}

.box2{
	margin: auto;
	padding: 20px;
	text-align: center;
	display: inline-block;
	width: 200px;
	position: relative;
	font-size: 20px;


}

.start {
	margin: 10px;
	padding: 10px;
	font-size: 20px;
}

.wins {
	margin: 10px;
	padding: 10px;
}

.current_word {
	margin: 10px;
	padding: 10px;
}

.guesses_left {
	margin: 10px;
	padding: 10px;
}

.already_guessed {
	margin: 10px;
	padding: 10px;
}

.footer {
	background: #FFE04A;
	margin: auto;
	padding: 10px;
	text-align: center;
	color: #ffffff;
	position: relative;
	bottom: 1px;
}